:root{
    --max-width: 700px;
    --gap: 16px;
    --gap-v: 40px;
    --gap-h: 60px;

    --blue: #1967d2;
    --blue-hover: #1558b6;
    --gray: #4f5458;
    --black: #2f3336;
    --white: #ffffff;
    --radius: 8px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
#root,
body{
    width: 100%;
    
    font-size: 16px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    background-color: var(--white);
    color: var(--black);
    
}
#root{
    max-width: var(--max-width);
    min-height: 100vh;
    margin: 0 auto;
}
main{
    display: grid;
    grid-gap: calc(var(--gap)*2);
    align-content: start;
    width: 100%;
    height: 100%;
    padding: var(--gap-v) var(--gap-h);
}
input,
button{
    width: 100%;
    height: 100%;
    
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: none;
    outline-color: var(--blue);
}
/* ****************** */
.main-title{ 
    font-size: 1.728rem; 
    font-weight: 400;
}
.main-title span { color: var(--blue); }

.form{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px auto;
    grid-row-gap: var(--gap);
}
.form__input{
    padding: 0 calc(var(--gap-h)/4);
    font-size: 1rem;

    cursor: text;
    border: 1px solid var(--gray);
    border-radius: var(--radius) 0 0 var(--radius);
}
.form__button{
    font-size: .833rem;
    font-weight: 400;
    letter-spacing: .035rem;
    text-transform: capitalize;

    border-radius: 0 var(--radius) var(--radius) 0;
    background-color: var(--blue);
    color: var(--white);
    transition: background-color 300ms linear;

}
.form__button:hover{
    background-color: var(--blue-hover);
    transition: background-color 300ms linear;
}
.form__lang,
.form__row{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-gap: var(--gap);
}
    .form__row{
        align-items: center;
        grid-gap: calc(var(--gap)/2);
    }
        .form__label{ font-size: 1rem; }
        .form__radio{
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: calc(var(--radius)/2);
            border: 2px solid var(--blue);
        }
        .form__radio:checked{ 
            background-color: var(--blue);
        }
    

    .form__loader{
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: .5rem;
        color: var(--blue);
    }
    .form__word{
        display: grid;
        grid-gap: calc(var(--gap)/2);
    }
        .form__word-row{ 
            display: grid;
            grid-gap: calc(var(--gap)/4);
        }
        .form__word-row--synonyms{ font-style: italic;}
        .form__word-title{ font-size: 1.728rem; }
        .form__word-title::first-letter{ text-transform: capitalize; }
        .form__word-label{
            font-weight: 600;
            font-size: 1rem;
            font-style: italic;            
        }
        .form__word-text{
            font-weight: 400;
            color: var(--gray);
        }
        .form__word-text::first-letter{ text-transform: capitalize; }
        .form__word-audio{
            width: 100%;
            height: 40px;
            border: 2px solid var(--blue);
            cursor: pointer;
        }
        ::-webkit-media-controls-enclosure { border-radius: var(--radius); }

@media (max-width: 600px) {
    :root{
        --gap-v: 20px;
        --gap-h: 30px;
    }
    .form{ grid-template-rows: 50px auto; }
}  